<h3>
  <i class="small material-icons">library_books</i>
  Your Journal
</h3>

<table class="bordered highlight">
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td>
          <b><%= message.context %></b> &nbsp;
          <i><%= time_ago_in_words(message.created_at) %> ago</i>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
