<h1>Say something to the internet:</h1>


<table>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td>Message <%= message.id %>: <%= message.context %></td>
      </tr>
    <% end %>
  </tbody>
</table>
