<h1>Say something to the internet:</h1>


<table>
  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= time_ago_in_words(message.created_at) %>: <%= message.context %></td>
      </tr>
    <% end %>
  </tbody>
</table>
